  <script>
    $("#loginWithFb").bind('click',loginWithFacebook)
  </script>
  <div id="welcomeToShoploud">
    <div class="modal-header" >
      <h2>Welcome To ShopLoud</h2>
      <a href="javascript:$('#welcomeToShoploud').hide()" class="btn-close" aria-hidden="true">×</a>
    </div>
    <div class="modal-body">
      <p>Chat with your friends while shopping!</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="loginWithFb" class="btn">Login with Facebook!</a>
    </div>
  </div>